.footer{
    /* margin-top: 200px; */
    width: 100%;
    text-align: center;
    border-top: 2px solid grey;
    padding-top: 50px;
}
.footer .row{
    margin-left: 25%;
}
.footer p {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
}

.footer p:hover {
    text-decoration: underline;
}
.footer img{
    width: 200px;
    margin-bottom: 30px;
}